[access]
	inheritFrom = All-Projects
[project]
	description = Hackfest examples and support code
[access "refs/for/refs/heads/*"]
	push = group ldap/hackfest
[access "refs/heads/*"]
	create = group ldap/hackfest
	forgeAuthor = group ldap/hackfest
	label-Code-Review = -2..+2 group ldap/hackfest
	submit = group ldap/hackfest
	editTopicName = group ldap/hackfest
	abandon = group ldap/hackfest
	read = group GitHub Replication for extras
[access "refs/meta/config"]
	read = group ldap/hackfest
[access "refs/tags/*"]
	pushTag = group ldap/hackfest
	pushSignedTag = group ldap/hackfest
	read = group GitHub Replication for extras
[access "refs/for/*"]
	pushMerge = group ldap/hackfest
