[access]
	inheritFrom = All-Projects
[project]
	description = Hackfest examples and support code
	state = read only
[access "refs/for/refs/heads/*"]
	push = group extra-hackfest
[access "refs/heads/*"]
	create = group extra-hackfest
	forgeAuthor = group extra-hackfest
	label-Code-Review = -2..+2 group extra-hackfest
	submit = group extra-hackfest
	editTopicName = group extra-hackfest
	abandon = group extra-hackfest
[access "refs/meta/config"]
	read = group extra-hackfest
[access "refs/tags/*"]
	pushTag = group extra-hackfest
	pushSignedTag = group extra-hackfest
[access "refs/for/*"]
	pushMerge = group extra-hackfest
[access "refs/*"]
	read = group GitHub Replication
