[access]
	inheritFrom = All-Projects
[project]
	description = Hackfest examples and support code
[access "refs/heads/*"]
	create = group Hackfest Team
	forgeAuthor = group Hackfest Team
	push = group Hackfest Team
	label-Code-Review = -2..+2 group Hackfest Team
	submit = group Hackfest Team
	editTopicName = group Hackfest Team
	abandon = group Hackfest Team
[access "refs/meta/config"]
	read = group Hackfest Team
[access "refs/tags/*"]
	pushTag = group Hackfest Team
	pushSignedTag = group Hackfest Team
[access "refs/for/*"]
	pushMerge = group Hackfest Team
